@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply font-normal;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* colors: indigo, yellow, and red */

@layer components {
  .navlink {
    @apply flex items-center gap-2 text-gray-300 hover:text-gray-50;
  }
  .navlink.mobile {
    @apply rounded-lg px-6 py-4 hover:bg-gray-800;
  }
  .navlink .icon {
    @apply h-5 w-5 text-gray-500;
  }

  /* layout */
  .container {
    @apply px-6;
  }
  /* end layout */

  /* text styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Arima', cursive;
  }
  h1,
  h2,
  h3 {
    @apply font-medium;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  /* end text styles */

  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }

  /* button styles */
  .btn-common {
    /* common button styles */
    @apply inline-flex items-center gap-1 rounded border border-transparent shadow duration-75;
  }
  /* button sizes */
  .btn-sm {
    @apply rounded-lg px-3 py-2 text-xs font-semibold;
  }
  .btn-base {
    @apply px-4 py-2 font-medium;
  }
  .btn-lg {
    @apply px-5 py-3 font-semibold;
  }
  /* button colors */
  .btn-primary {
    /* only when background is light */
    @apply bg-indigo-500 text-white hover:bg-indigo-600;
  }
  .btn-secondary {
    /* only when background is dark */
    @apply bg-yellow-400 text-black hover:bg-yellow-500;
  }
  .btn-outline-black {
    /* only when background is light */
    @apply border-gray-300 bg-transparent text-black shadow-none hover:border-black hover:bg-black hover:text-white;
  }
  .btn-outline-light {
    @apply border border-gray-300 hover:bg-gray-100;
  }
  /* end button styles */

  /* background styles */
  .bg-common {
    /* common background image styles */
    @apply bg-cover bg-center;
  }
  /* end background styles */

  /* form styles */
  .form-group label {
    @apply text-sm;
  }
  .form-group.required label::after {
    content: '*';
    @apply text-red-500;
  }
  .form-group .form-control {
    @apply mt-1;
  }
  .form-control {
    @apply block w-full rounded border bg-white px-4 py-3 text-black focus:placeholder-transparent;
  }
  /* end form styles */

  /* transitions */
  .scale-on-hover {
    @apply duration-100 hover:scale-105;
  }
}
